<h1 class="text-center">
    <strong>🖊️À propos</strong>
</h1>
<p>
    Application développée par les <strong>BTS SIO</strong> du Lycée Léonard De Vinci de Melun.
</p>

<h2>
    <strong>Crédits</strong>
</h2>
<ul>
    <!-- <li class="text-decoration-underline">API : ipstack.com</li> -->
    <li><span class="text-decoration-underline">API :</span> ipstack.com</li> <!-- Permet de seulement souligner API : -->
    <li class="text-decoration-underline">Frameworks :</li>
    <ul>
        <li>Angular <i class="bi bi-shield"></i></li>
        <li>Bootstrap </li>
    </ul>
</ul>