<h1 class="text-center">
    <strong>🖊️À propos</strong>
</h1>
<p>
    Application développée par les <strong>BTS SIO</strong> du Lycée Léonard De Vinci de Melun.
</p>

<h2>
    <strong>Crédits</strong>
</h2>
<ul>
    <!-- <li class="text-decoration-underline">API : ipstack.com</li> -->
    <li>
        <span class="text-decoration-underline">API : </span> <a class="text-black text-decoration-none" href="HTTPS://dashboard.ipstack.com/login" target="_blank">ipstack.com</a>
    </li> <!-- <Span> Permet de seulement souligner API : -->
    <li class="text-decoration-underline">Frameworks :
    </li>
    <ul>
        <li>
            <a class="text-black text-decoration-none" href="https://angular.dev" target="_blank">Angular</a> <i class="bi bi-shield"></i>
        </li>
        <li>
            <a class="text-black text-decoration-none" href="https://getbootstrap.com"target="_blank">Bootstrap</a>  <i class="bi bi-heart-fill"></i> 
        </li>
    </ul>
</ul>