<!-- src/app/component/footer/footer.component.html -->
<footer class="bg-dark text-white pt-4 pb-2 mt-auto">
  <div class="container text-center text-md-left">
    <div class="row">

      <div class="col-md-4 mb-3">
        <h5>Hackers APP</h5>
        <ul>

          <a class="text-muted text-decoration-none " href="https://giphy.com/gifs/rick-roll-g7GKcSzwQfugw" target="_blank">Clique !</a>

        </ul>
      </div>

      <!-- Section Liens utiles -->
      <div class="col-md-4 mb-3">
        <h5>Liens utiles</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white text-decoration-none">Accueil</a></li>
          <li><a href="https://angular.dev" class="text-white text-decoration-none" target="_blank"  rel="noopener noreferrer">Documentation Angular</a></li>
        </ul>
      </div>

      <!-- Section Contact -->
      <div class="col-md-4 mb-3">
        <h5>Contact</h5>
        <ul class="list-unstyled">
          <li>Email: <a href="mailto:contact@app-multi.com" class="text-white">contact@hackers.com</a></li>
          <li>Téléphone: <a href="tel:+33000000000" class="text-white">+33 0 00 00 00 00</a></li>
        </ul>
      </div>

    </div>
  </div>

  <!-- Copyright -->
  <div class="text-center mt-3">
    <small>&copy; 2025 Hackers APP. Tous droits réservés.</small>
  </div>
</footer>